<div id="form-container">
  <div>
      <form [formGroup]="loginForm">
          <p class="error" *ngIf="error">{{ error }}</p>
          <div class="fgroup">
              <label for="userName">E-mail / gebruikersnaam:</label>
              <input type="text" name="userName" formControlName="userName">
          </div>
          <div class="fgroup">
              <label for="password">Wachtwoord:</label>
              <input type="password" name="password" formControlName="password">
          </div>
          <div class="fgroup">
            <button type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()">Log in</button>
          </div>
      </form>
  </div>
</div>
