#form-container {
  width: 550px;
  height: 300px;
  background-color: #797979;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 150px;
}

form {
  width: 400px;
  display: inline-block;
  align-self: center;
}

.error {
  color: red;
}

#form-container div {
  display: flex;
  justify-content: center;
  height: 100%;
  width: auto;
  align-content: center;
}

.fgroup {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  height: 32px;
}

.fgroup label {
  width: 50%;
}

.fgroup input, .fgroup button {
  width: 50%;
}

div button {
  margin-left: auto;
  height: 32px;
  border-radius: 5px;
}

form label {
  color: white;
}
