.form-group {
  display: flex;
  justify-content: space-between;
}

.datepickers div:last-of-type {
  margin-left: 10px;
}

.error-container {
  border: 1px solid red;
}

.error-container li {
  color: red;
  display: block;
}
