aside {
  width: 300px;
  min-height: Calc(100vh - 180px);
  height: auto;
  max-height: Calc(100vh - 180px);

  border: 2px solid black;
  border-radius: 8px;
}

ul {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

ul li {
  list-style: none;
  text-align: center;
  margin-bottom: 1.2em;
}

li a {
  text-decoration: none;
  color: initial;
  font-size: 1.7em;
  color: #847A79;
  font-weight: 500;
}

.router-link-active {
  text-decoration: underline;
}
